
.tooltip {
  position: absolute;
  width: 190px;
  height: 80px;
  padding: 2px;
  padding-top: 8px;
  font: 12px sans-serif;
  font-weight: bold;
  color: #CD853F; /*peru*/
  opacity: 0.3;
  text-align: center;
  background: #d3edf8;    
  border: 0;
  border-radius: 10px;
}


.labels {
  text-anchor: middle;
  color: #8B4513; /*saddlebrown*/
  text-align: center;
  font-size: 11px;
  font-family: sans-serif;
  /*transition: fill 0.3s ease-in;*/
}

.xaxisText, .yaxisText {
  font-family: sans-serif;
  font-weight: bold;
  font: 20px;
  fill:#A0522D; /*sienna*/
  text-anchor: start;
  text-align: center;

}

.xactive, .yactive {
  font-weight: bold;
  fill: #000;
  fill: #800000; /*maroon*/
  transition: fill 0.3s ease-in;
  text-anchor: start;
  text-align: center;
}

.xinactive, .yinactive {
  font-weight: lighter;
  fill: #A0522D; /*sienna*/
  transition: fill 0.3s ease-in;
  text-anchor: start;
  text-align: center;
}

.xinactive:hover, .yinactive:hover {
  fill: #CD853F; /*peru*/
  cursor: pointer;
}